html {
    font-family: arial;
    color: #aaa;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
}

#content {
    margin: 10% 0 0 0;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #4492ba;
    background-color: #52aecc;
    padding: 10px 15px 10px 15px;
}

.social li {
    display: inline;
}

.domain {
    font-weight: bold;
    color: #555;
}

.available {
    color: #5a5;
    font-weight: bold;
}

.beta {
    font-size: 10px;
    vertical-align: super;
}
