html {
    font-family: arial;
    text-align: center;
    margin: 100px 0 0 0;
    color: #aaa;
    letter-spacing: 1px;
    font-size: 30px;
}


#submit {
    color: #fff;
    font-size: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #4492ba;
    background-color: #52aecc;
    padding: 10px 15px 10px 15px;
}
